*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.app {
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Abhaya Libre', serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;

    background: $color-black-1;
    color: $color-white-2;
}

.todo-app {
    max-width: 390px;
    padding: 13px 20px;

    display: flex;
    flex-direction: column;
    flex-grow: 1;

    background: $color-black-2;
    border-radius: 30px;

    &__checkbox {
        margin-bottom: 17px;
    }

    &__today {
        margin-bottom: 32px;
        padding: 16px 25px 18px 17px;
        background: $color-black-3;
        box-shadow: 16px 16px 20px rgba(0, 0, 0, 0.15), -8px -8px 20px rgba(255, 255, 255, 0.05);
        border-radius: 40px;
    }
}